<div class="form_row">
	<div class="erreur" id="err_login_1">
		Aucun utilisateur enregistré avec ce login et ce mot de passe
	</div>
	<div class="erreur" id="err_login_2">
		L'utilisateur avec ce login est déjà connecté sur le chat en ce moment
	</div>
</div>
<div class="form_row">
	<label for="login">Login</label>
	<input type="text" id="login" name="login">
</div>
<div class="form_row">
	<label for="login_password">Mot de passe</label>
	<input type="password" id="login_password" name="login_password">
</div>
<div class="dorm_row">
	<button id="log_in_send" disabled=true>Envoyer</button>
</div>