<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>README</title>
</head>
<body>
	<header>
		README
	</header>
	<div>
		<p>
			Il faut installer, avec npm intall, les modules suivants :
			<ul>
				<li>express</li>
				<li>body-parser</li>
				<li>ejs</li>
				<li>path</li>
				<li>socket.io</li>
			</ul>
		</p>
		<p>
			Pour la partie Mini-Chat : j'ai réalisé les communications de messages avec des socket de socket.io. Une liste des utilisateurs connectés permet de savoir qui est sur le chat, et le serveur detecte dès qu'un utilisateur se déconnecte.
		</p>
	</div>
</body>
</html>